{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "useTabs": true,
  "printWidth": 80,
  "plugins": ["prettier-plugin-organize-imports"],
  "importOrder": [
    "react",
    "react-native",
    "^recoil(.*)$",
    "^react-native-(.*)$",
    "^react-native-ui-lib$",
    "<THIRD_PARTY_MODULES>",
    "^@?(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
